{% extends 'Pagelayout.twig' %}

{% block header %}
    <header>
        <div class="row" style="margin-top: 1%; margin-bottom: 1%; margin-left: 0%; margin-right: 0%; padding-left: 1%; padding-right: 1%;">
            <div class="col-8">
                <h1>Formulaire d'inscription</h1>
            </div>
            <div class="col-4">
                <ul class="nav nav-tabs justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ pathRoot ~ 'security/login' }}"><i class="fa-solid fa-circle-user"></i>&nbsp;Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ pathRoot ~ 'security/register' }}"><i class="fa-solid fa-user-plus"></i>&nbsp;Inscription</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section class="container mt-4">
        {% if alert is defined and message is defined %}
            <div class="row"><p class="col-10 alert {{alert}}">{{message}}</p></div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <form name="accesform" method="post" action="{{ pathRoot ~ 'security/createAccount' }}">
                    <div class="mb-3 row">
                        <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" value="{{ login is defined ? login : "" }}" id="inputLogin" placeholder="Votre login" name="login" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Mot de passe</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="inputPassword" name="password" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputConfirmPassword" class="col-sm-2 col-form-label">Confirmer mot de passe</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-8">
                            <a href="{{ pathRoot ~ 'security' }}" class="link-info">J'ai déjà un compte</a>
                        </div>
                        <div class="col-sm-4 justify-content-end">
                            <button type="submit" class="btn btn-primary mb-3"><i class="fa-solid fa-user-plus"></i>&nbsp;Inscription</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}