{% extends 'Pagelayout.twig' %}

{% block header %}
    <header>
        <div class="row" style="margin-top: 1%; margin-bottom: 1%; margin-left: 0%; margin-right: 0%; padding-left: 1%; padding-right: 1%;">
            <div class="col-5">
                <h1>Liste des tickets</h1>
            </div>
            <div class="col-7">
              <ul class="nav nav-tabs justify-content-end">
                  <li class="nav-item">
                      <a class="nav-link active" href="{{ pathRoot ~ 'ticket' }}">
                        <i class="fa-solid fa-table-list"></i>&nbsp;Listes des tickets
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ pathRoot ~ 'ticket/create' }}">
                        <i class="fa-solid fa-ticket"></i>&nbsp;Créer un ticket
                      </a>
                  </li>
                  {% if session is defined and session.user.Admin %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ pathRoot ~ 'user' }}">
                        <i class='fa-solid fa-users-gear'></i>&nbsp;Gestion des utilisateurs
                      </a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" style="color:red" href="{{ pathRoot ~ 'security/logout' }}">
                      <i class="fa-solid fa-door-open"></i>&nbsp;Déconnexion
                    </a>
                </li>
              </ul>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
  {% if alert is defined and message is defined %}
      <div class="row"><p class="col-10 alert {{alert}}">{{message}}</p></div>
  {% endif %}

  <div class="container" style="border-style: ridge; border-width: thick; border-color: #e0e0e0; border-radius: 20px">
    <div class="row" style="padding: 2%; background-color: #d3d3d352; border-bottom-style: inherit;">
      <div class="col-sm-12 ">
        <button class="btn btn-success mr-2" id="btnTicketOpened" 
        data-url="{{ pathRoot ~ 'ticket/tickets' }}"
        data-field="isnotclosed"
        data-val="0"><i class="fa-solid fa-lock-open"></i>&nbsp;Tickets ouverts</button>
        <button class="btn btn-secondary mr-2" id="btnTicketClosed" 
        data-url="{{ pathRoot ~ 'ticket/tickets' }}"
        data-field="isclose"
        data-val="0"><i class="fa-solid fa-lock"></i>&nbsp;Tickets clôturés</button>
      </div>
    </div>

    <div style="padding-bottom: 2%" >
      <table
        id="table"
        data-toggle="table" 
        data-pagination="true" 
        data-search="true"
        data-pagination-pre-text="Précédent"
        data-pagination-next-text="Suivant"
        data-pagination-v-align="both"
        data-url="{{ pathRoot ~ 'ticket/tickets' }}"
        data-ajax="ajaxRequest"
        data-sortable="true"
        data-searchable="true"
        data-page-size="5"
        data-side-pagination="server"
        data-query-params="queryParams">
        <thead>
          <tr>
            <th data-field="id" data-sortable="true" data-searchable="false" data-formatter="idFormatter">N°</th>
            <th data-field="subject" data-sortable="false" data-searchable="true">Sujet</th>
            <th data-field="creationDate" data-sortable="true" data-searchable="false">Création</th>
            <th data-field="lastModificationDate" data-sortable="true" data-searchable="false">Mise à jour</th>
            <th data-field="type" data-sortable="true" data-searchable="true">Demande</th>
            <th data-field="priority" data-sortable="true" data-searchable="true">Priorité</th>
            <th data-field="closed" data-sortable="true" data-searchable="false">Clôturé</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    function ajaxRequest(params) {
      const url = $('#table').data('url')
      $.get(url + '/?' + $.param(params.data))
        .then(function (res) {
          params.success( JSON.parse(res) )
        })
    }

    function queryParams( params ) {
            params.isclose = document.querySelector('#btnTicketClosed').dataset.val
            params.isnotclose = document.querySelector('#btnTicketOpened').dataset.val
            document.querySelector('#btnTicketClosed').dataset.val = 0
            document.querySelector('#btnTicketOpened').dataset.val = 0
            return params
    }

    window.onload = () => {
        const allBtn = document.querySelectorAll(".btn")

        allBtn.forEach( function(btn) {
            btn.addEventListener('click', (e)=>{
                const elem = e.target
                elem.dataset.val = 1
                $('#table').bootstrapTable('refresh')
            })
        })
    }
    
    function idFormatter(value, row, index) {
      return '<a class="link-info link-offset-3 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ pathRoot ~ "ticket/edit/id/" }}' + row.id + '">[#' + row.id + ']</a>';
    }
  </script>
{% endblock %}